doctype html 
html 
    head 
        style 
            include ../static/style.css
            include ../static/about.css

        style.
            @media only screen and (max-width: 1112px) {
                img{
                    height:650px ;
                }
                section {
                    padding-left: 50px;
                    padding-right: 50px;
                }
            }

    body 
        nav 
            ul 
                li #[a(href="/") Home]
                li #[a(href="/services") Our Services]
                li #[a(href="/about") About Us]
                li #[a(href="/contact") Contact Us]

        section 
            div.image 
                img(src="../static/about.jpg", alt="")
            div.writing 
                h1 About Sway 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat voluptate aspernatur nisi, ea nesciunt ad et distinctio sit dicta officia rerum temporibus maxime voluptatibus? Explicabo officia accusantium aut sequi nihil!

        footer  
            | Copyright 2022 sway.com